/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #272b33;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #272b33;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #272b33;
}

::-webkit-scrollbar-thumb
{
  background-color: #33cc33;
  border: 2px solid #555555;
}